In [18]:
from utils import get_meta
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os
import cv2
# get_ipython().run_line_magic('matplotlib', 'inline')
from tqdm import tqdm
from tflearn.data_utils import shuffle, to_categorical


db='imdb'
# mat_path='/data/wiki_crop/wiki.mat'
mat_path='/home/geekysethi/Desktop/age-and-gender/imdb/imdb.mat'
full_path, dob, gender, photo_taken, face_score, second_face_score, age= get_meta(mat_path, db)

temp_dataframe={"full_path":full_path,'gender':gender,'face_score':face_score,'second_face_score':second_face_score,'age':age}
df=pd.DataFrame(temp_dataframe)
print(df.head())
# train_dir='/data/wiki_crop/'

   age  face_score                                       full_path  gender  \
0   69    1.459693   [01/nm0000001_rm124825600_1899-5-10_1968.jpg]     1.0
1   71    2.543198  [01/nm0000001_rm3343756032_1899-5-10_1970.jpg]     1.0
2   69    3.455579   [01/nm0000001_rm577153792_1899-5-10_1968.jpg]     1.0
3   69    1.872117   [01/nm0000001_rm946909184_1899-5-10_1968.jpg]     1.0
4   69    1.158766   [01/nm0000001_rm980463616_1899-5-10_1968.jpg]     1.0

   second_face_score
0           1.118973
1           1.852008
2           2.985660
3                NaN
4                NaN

In [19]:
print(len(df))

460723

In [20]:
print(df.head())
print(df.isnull().values.any())
print(df.gender.isnull().sum())
df.drop(df[df.gender.isnull()==True].index,inplace=True)
print(df.gender.isnull().sum())
print(df.head())
df[df.face_score<0]=np.nan
df.drop(df[df.face_score.isnull()==True].index,inplace=True)
print(df.head())
print(len(df))

   age  face_score                                       full_path  gender  \
0   69    1.459693   [01/nm0000001_rm124825600_1899-5-10_1968.jpg]     1.0
1   71    2.543198  [01/nm0000001_rm3343756032_1899-5-10_1970.jpg]     1.0
2   69    3.455579   [01/nm0000001_rm577153792_1899-5-10_1968.jpg]     1.0
3   69    1.872117   [01/nm0000001_rm946909184_1899-5-10_1968.jpg]     1.0
4   69    1.158766   [01/nm0000001_rm980463616_1899-5-10_1968.jpg]     1.0

   second_face_score
0           1.118973
1           1.852008
2           2.985660
3                NaN
4                NaN
True
8462
0
   age  face_score                                       full_path  gender  \
0   69    1.459693   [01/nm0000001_rm124825600_1899-5-10_1968.jpg]     1.0
1   71    2.543198  [01/nm0000001_rm3343756032_1899-5-10_1970.jpg]     1.0
2   69    3.455579   [01/nm0000001_rm577153792_1899-5-10_1968.jpg]     1.0
3   69    1.872117   [01/nm0000001_rm946909184_1899-5-10_1968.jpg]     1.0
4   69    1.158766   [01/nm0000001_rm980463616_1899-5-10_1968.jpg]     1.0

   second_face_score
0           1.118973
1           1.852008
2           2.985660
3                NaN
4                NaN
    age  face_score                                       full_path  gender  \
0  69.0    1.459693   [01/nm0000001_rm124825600_1899-5-10_1968.jpg]     1.0
1  71.0    2.543198  [01/nm0000001_rm3343756032_1899-5-10_1970.jpg]     1.0
2  69.0    3.455579   [01/nm0000001_rm577153792_1899-5-10_1968.jpg]     1.0
3  69.0    1.872117   [01/nm0000001_rm946909184_1899-5-10_1968.jpg]     1.0
4  69.0    1.158766   [01/nm0000001_rm980463616_1899-5-10_1968.jpg]     1.0

   second_face_score
0           1.118973
1           1.852008
2           2.985660
3                NaN
4                NaN
391197

In [21]:
print(df.gender.value_counts())

1.0    223874
0.0    167323
Name: gender, dtype: int64

In [29]:
gender=df.gender.values
print(type(gender))

<class 'numpy.ndarray'>

In [33]:
# gender=shuffle(gender)
# # print(type(gender))
# print(gender[:10])
# print(len(gender))

In [34]:
gender=gender[:20000]

In [35]:
unique, counts = np.unique(gender, return_counts=True)
print(counts)

[ 6238 13762]